<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="envoltorio" class="basico.Envoltorio">
		<constructor-arg name="nombre" value="Pedro"/>
	</bean>

	<bean id="holaMundo" class="basico.HolaMundoImpl" scope="prototype">
		<property name="envoltorio" ref="envoltorio"/>
	</bean>
	
	<bean id="helloWorld" class="basico.HelloWorldImpl"/>
</beans>